{% stylesheet %}
.azmenu {
  width: 100%;
  list-style: none;
  display: table;
  border-top: 2px solid #e6c603;
  border-bottom: 2px solid #e6c603;
}


.azmenu__initial {
    display: table-cell;
    text-align: center;
}

{% endstylesheet %}

<div class="grid">
  
  <ul class="azmenu">
    <li class="azmenu__initial azmenu__initial--character">
      <a href="##" class="azmenu__link">#</a>
    </li>
    <li class="azmenu__initial">
      <a href="#A" class="azmenu__link">A</a>
    </li>
    <li class="azmenu__initial">
      <a href="#B" class="azmenu__link">B</a>
    </li>
    <li class="azmenu__initial">
      <a href="#C" class="azmenu__link">C</a>
    </li>
    <li class="azmenu__initial">
      <a href="#D" class="azmenu__link">D</a>
    </li>
    <li class="azmenu__initial">
      <a href="#E" class="azmenu__link">E</a>
    </li>
    <li class="azmenu__initial">
      <a href="#F" class="azmenu__link">F</a>
    </li>
    <li class="azmenu__initial">
      <a href="#G" class="azmenu__link">G</a>
    </li>
    <li class="azmenu__initial">
      <a href="#H" class="azmenu__link">H</a>
    </li>
    <li class="azmenu__initial">
      <a href="#I" class="azmenu__link">I</a>
    </li>
    <li class="azmenu__initial">
      <a href="#J" class="azmenu__link">J</a>
    </li>
    <li class="azmenu__initial">
      <a href="#K" class="azmenu__link">K</a>
    </li>
    <li class="azmenu__initial">
      <a href="#L" class="azmenu__link">L</a>
    </li>
    <li class="azmenu__initial">
      <a href="#M" class="azmenu__link">M</a>
    </li>
    <li class="azmenu__initial">
      <a href="#N" class="azmenu__link">N</a>
    </li>
    <li class="azmenu__initial">
      <a href="#O" class="azmenu__link">O</a>
    </li>
    <li class="azmenu__initial">
      <a href="#P" class="azmenu__link">P</a>
    </li>
    <li class="azmenu__initial">
      <a href="#Q" class="azmenu__link">Q</a>
    </li>
    <li class="azmenu__initial">
      <a href="#R" class="azmenu__link">R</a>
    </li>
    <li class="azmenu__initial">
      <a href="#S" class="azmenu__link">S</a>
    </li>
    <li class="azmenu__initial">
      <a href="#T" class="azmenu__link">T</a>
    </li>
    <li class="azmenu__initial">
      <a href="#U" class="azmenu__link">U</a>
    </li>
    <li class="azmenu__initial">
      <a href="#V" class="azmenu__link">V</a>
    </li>
    <li class="azmenu__initial">
      <a href="#W" class="azmenu__link">W</a>
    </li>
    <li class="azmenu__initial">
      <a href="#X" class="azmenu__link">X</a>
    </li>
    <li class="azmenu__initial">
      <a href="#Y" class="azmenu__link">Y</a>
    </li>
    <li class="azmenu__initial">
      <a href="#Z" class="azmenu__link">Z</a>
    </li>
  </ul>

</div>
