<div class="page-blocks">
  {% for block in section.blocks %}
    <div {{ block.shopify_attributes }}>
      {% case block.type %}

        {% when 'image-hero' %}
          {% include 'page-block-image-hero' %}

      {% endcase %}
    </div>
  {% endfor %}
</div>


{% if section.settings.page_title_enable or section.settings.page_content_enable %}
  <div class="page-width page-content page-content--with-hero">
    {%- render 'breadcrumbs' -%}

    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

        {% if section.settings.page_title_enable %}

          <h2 class="text-hero">{{ page.title }}</h2>

        {% endif %}

        {% if section.settings.page_content_enable %}
          <div class="rte text-spacing">
            {{ page.content }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
{% endif %}

{%- if section.blocks.size > 0 -%}
  <div class="page-width page-content">
    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

        <div class="page-blocks page-blocks--flush" itemscope itemtype="https://schema.org/FAQPage">
          {%- for block in section.blocks -%}
            <div {{ block.shopify_attributes }}>
              {% case block.type %}
                {% when 'rich-text'%}
                  {% render 'page-block-rich-text', section_class: 'index-section--faq', block: block %}

                {% when 'question'%}
                  {% render 'page-block-faq', block: block %}

              {% endcase %}
            </div>
          {%- endfor -%}
        </div>

      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Page.faq page",
    "settings": [
      {
        "type": "checkbox",
        "id": "page_title_enable",
        "label": "Show page title"
      },
      {
        "type": "checkbox",
        "id": "page_content_enable",
        "label": "Show page content"
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "rich-text",
          "settings": {
            "title": "Shipping policy"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "Where do you ship to?"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "How long will my order take?"
          }
        },
        {
          "type": "rich-text",
          "settings": {
            "title": "Returns and exchanges"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "How do I ship my order back to you?"
          }
        }
      ]
    },
    "blocks": [
      {
        "type": "rich-text",
        "name": "Rich text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rich text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          }
        ]
      },
      {
        "type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Frequently asked question"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          }
        ]
      },



      {
        "type": "image-hero",
        "name": "Image hero",
        "settings": [
          {
            "type": "checkbox",
            "id": "parallax",
            "label": "Enable parallax",
            "default": true
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
            "default": "Two line\ntitle image"
          },
          {
            "type": "range",
            "id": "title_size",
            "label": "Heading text size",
            "default": 80,
            "min": 40,
            "max": 100,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "And optional subtext"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text",
            "default": "Optional button"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Second link"
          },
          {
            "type": "text",
            "id": "link_text_2",
            "label": "Second link text 2"
          },
          {
            "type": "color",
            "id": "color_accent",
            "label": "Buttons",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "default": "vertical-center horizontal-center",
            "options": [
              {
                "value": "vertical-center horizontal-left",
                "label": "Center left"
              },
              {
                "value": "vertical-center horizontal-center",
                "label": "Center"
              },
              {
                "value": "vertical-center horizontal-right",
                "label": "Center right"
              },
              {
                "value": "vertical-bottom horizontal-left",
                "label": "Bottom left"
              },
              {
                "value": "vertical-bottom horizontal-center",
                "label": "Bottom center"
              },
              {
                "value": "vertical-bottom horizontal-right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "focal_point",
            "label": "Image focal point",
            "info": "Used to keep the subject of your photo in view.",
            "default": "center center",
            "options": [
              {
                "value": "20% 0",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "80% 0",
                "label": "Top right"
              },
              {
                "value": "20% 50%",
                "label": "Left"
              },
              {
                "value": "center center",
                "label": "Center"
              },
              {
                "value": "80% 50%",
                "label": "Right"
              },
              {
                "value": "20% 100%",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "80% 100%",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "select",
            "id": "section_height",
            "label": "Desktop height",
            "default": "650px",
            "options": [
              {
                "label": "Natural",
                "value": "natural"
              },
              {
                "label": "450px",
                "value": "450px"
              },
              {
                "label": "550px",
                "value": "550px"
              },
              {
                "label": "650px",
                "value": "650px"
              },
              {
                "label": "750px",
                "value": "750px"
              },
              {
                "label": "Full screen",
                "value": "100vh"
              }
            ]
          },
          {
            "type": "select",
            "id": "mobile_height",
            "label": "Mobile height",
            "default": "auto",
            "info": "Not used if desktop height is set to natural",
            "options": [
              {
                "label": "Auto",
                "value": "auto"
              },
              {
                "label": "250px",
                "value": "250px"
              },
              {
                "label": "300px",
                "value": "300px"
              },
              {
                "label": "400px",
                "value": "400px"
              },
              {
                "label": "500px",
                "value": "500px"
              },
              {
                "label": "Full screen",
                "value": "100vh"
              }
            ]
          }
        ]



      }
    ]

  }
{% endschema %}